#menu>a:nth-child(1) {
    color: #7A820A;
}

.mainContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgb(255 239 214);

}

.hero {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.hero>#fruit {
    margin: 40px 0;
}

#fruit {
    display: block;
    max-width: 50%;
    min-width: 500px;
    margin: 0 auto;
}

/*
=Image Gallery*/
a {
    text-decoration: none;
    color: #58595b;
}


h2 {
    padding: 0;
}

h4 {
    font: 500 15px/1.33 "figtree", sans-serif;
    color: #58595b;
    margin: 10px;
    padding: 0;
}

.selectedWorks {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 25px;
    position: relative;
    width: 100%;
    max-width: 100vw;
}

.project-gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    row-gap: 3vh;
}

.project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 48.5%;
    position: relative;
    /* Set the position context for the overlay */
}


.img-container {
    position: relative;
}

.img-container img {
    display: block;
    /* Ensure proper rendering of the image */
    width: 100%;
    /* Scale image to fit container */
    margin: 0;
    padding: 0;
    border-radius: 15px;
    /* Rounded corners */
}

.img-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFA600;
    /* Yellow overlay */
    border-radius: 15px;
    mix-blend-mode: overlay;
    opacity: 0;
    /* Hide the overlay initially */
    transition: opacity 0.3s ease;
    /* Smooth transition for overlay */
}

.project-container:hover .img-container::after {
    opacity: 0.5;
    /* Show the yellow overlay when hovering */
}

.img-container:hover::after {
    opacity: 0.8;
    /* Show the border when hovering */
}

h2 {
    margin-top: 15px;
    /* Add space between the image and text */
}

.last-row {
    display: flex;
    justify-content:center;
}

#art-fruit {
    margin: 17px 0;
    width:318px;
}

.project-container:hover {
    cursor: url("../img/cursor.hover.cur"), pointer; 
    color: #7A820A;
}

.mainContainer > .selectedWorks> a:hover
{
    cursor: url("../img/cursor.hover.cur"), pointer; 
    color: #7A820A;

}
